<% layout('layout/boilerplate') %>
    <div class="main">
        <form class="form" action='/forgot' method="POST">
            <div class="formdata">
                <label for='email'>Enter your email</label>
                <input id="email" name="email">
                <div style="text-align: center;margin:15px">
                    <button class="btn btn-primary">Submit</button>
                </div>

            </div>


        </form>
    </div>