<% layout('layout/boilerplate') %>
    <div style="display:flex ;
    height:100vh;
    background-color: rgb(38, 150, 170);
    background-repeat: no-repeat;
    background-size: cover;">
        <form action='/newpassword/<%=token%> ' method="POST" style="
           
            display:flex;
    flex-direction: column;
    margin:auto;
    align-items: center;
        ">
            <div style="
             border-radius: 10px;
            background-color: white;
            padding:50px;
            ">
                <label for='password'>Enter new password</label>
                <input id="password" name="password" required>
                <div style="text-align: center;margin:15px">
                    <button class="btn btn-primary">Submit</button>
                </div>

            </div>

        </form>
    </div>